<div class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-md-12">
                <div class="text-center">Made with <i class="fa fa-heart" style="color: #65091a;font-size: 12px;"></i> by <a href="https://m.me/71sohel" target="_blank" style="color: #2ECCAB;">Sohel</a></div>
            </div>
        </div>
    </div>
</div>
<center style="display:none"><script type="text/javascript" src="https://widget.supercounters.com/ssl/online_t.js"></script><script type="text/javascript">sc_online_t(1609755,"","eeeeee");</script><br><noscript><a href="https://www.supercounters.com/">supercounters.com</a></noscript>
</center>