{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID19 - Stats</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {%  include 'header.html' %}

        
        

    </div>




    <!-- {% static '/' %} -->

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
    <script src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static '/vendor/chartjs/Chart.bundle.min.js' %}"></script>

    <script src="{% static '/vendor/vectormap/jquery.vmap.min.js' %}"></script>
    <script src="{% static '/vendor/vectormap/jquery.vmap.world.js' %}"></script>

    <script src="{% static '/js/world/vectormap-world.js' %}"></script>

    <script src="{% static '/vendor/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/js/world/datatable.js' %}"></script>
    
    <script src="{% static '/js/world/dashboard.js' %}"></script>
    <script src="{% static '/js/world/chart.js' %}"></script>    
    <script src="{% static '/js/scripts.js' %}"></script>

    <script src="{% static '/js/settings.js' %}"></script>
    <script src="{% static '/js/quixnav-init.js' %}"></script>
    <script src="{% static '/js/styleSwitcher.js' %}"></script>
</body>
</html>