{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coronavirus vaccination report</title>
    <meta content="The status of Covid-19 such as confirmed, death rate, caused rate,  coronavirus outbreak prediction, recovery rate of Coronavirus information(Covid-19)" name="description" />
    <meta name="keywords" content="Corona, Covid 19, covid-19, corona bd, outbreak prediction">
    <link rel="canonical" href="https://coronastatsbd.com/" />
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />
    <meta name="googlebot-news" content="all" />
	<meta content="Sohel Rana" name="Author"/>
    <meta name="Developer" content="Sohel Rana" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- select country -->
    <link rel="stylesheet" href="{% static '/css/select2.min.css' %}" />

    <!-- Plotly js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {%  include 'header.html' %}
    
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="mb-3 update-time" id="lastUpdate"></div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <select id="country" class="form-control js-example-basic-single" onchange="return vaccineData(this.value);">
                                {% for result in country_info %}                                    
                                    <option value="{{result.iso_code}}" {% if result.iso_code == 'BGD' %} selected {%endif%}>{{result.location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="country_vaccine_summary"></div>

                <div class="row" id="ChartVaccine"></div>

                <div class="row" id="table_data"></div> 
            </div>
        </div>

        {%  include 'footer.html' %} 
        
    </div>

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
    <script src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static '/vendor/datatable/jquery.dataTables.min.js' %}"></script>
    

    <script src="{% static '/js/select2.min.js' %}"></script>

    <script src="{% static '/js/scripts.js' %}"></script>

    <script src="{% static '/js/settings.js' %}"></script>
    <script src="{% static '/js/quixnav-init.js' %}"></script>
    <script src="{% static '/js/styleSwitcher.js' %}"></script>

    <script type="text/javascript">

        function vaccineData(iso) {
            $("#lastUpdate").html('<img src="/static/images/loader.gif">');
            
            $.ajax({
                url: '/getVaccineData',
                type: "GET",
                dataType: "json",
                data:{
                    iso: iso
                },
                success: function(data) {
                    // console.log(data);

                    var vaccination_summary = data.vaccination_summary[0];
                    var name = vaccination_summary.location;
                    $('title').html(name+' - Coronavirus vaccination report - ');

                    $("#lastUpdate").html('<span class="stats-taken"><strong id="stat-taken" class="text-primary">'+name+'</strong></span> | Last Observation: '+vaccination_summary.date);

                    $("#country_vaccine_summary").html('<div class="col-xl-4 col-12"><div class="country-data"><div class="icon gradient-15"> <i class="fas fa-vial"></i></div><div> <span>Total Vaccinations</span><h3>'+number_format(vaccination_summary.total_vaccinations)+'</h3></div></div></div><div class="col-xl-4 col-12"><div class="country-data"><div class="icon gradient-4"> <i class="fas fa-diagnoses"></i></div><div> <span>People Vaccinated</span><h3>'+number_format(vaccination_summary.people_vaccinated)+'</h3></div></div></div><div class="col-xl-4 col-12"><div class="country-data"><div class="icon gradient-1"> <i class="fas fa-notes-medical"></i></div><div> <span>Vaccines</span><h3>'+vaccination_summary.vaccine+'</h3></div></div></div>');


                    // MAIN CHART
                    $("#ChartVaccine").html('<div class="col-xl-12"><div class="card" style="padding:0;"><div class="card-header"><h4 class="card-title">Report Vaccination - '+name+'</h4></div><div class="card-body" style="padding:0;"><div id="mainChart"></div></div></div>');
                    traceVaccine1 = data.traceVaccine1
                    traceVaccine2 = data.traceVaccine2
                    // traceVaccine3 = data.traceVaccine3
                    vaccineLayoutAll = data.vaccineLayoutAll
                    var ScatterChart = [traceVaccine1, traceVaccine2];
                    Plotly.newPlot('mainChart', ScatterChart, vaccineLayoutAll, {showSendToCloud: true, responsive: true});
                    
                    
                    // DATA TABLE
                    var main_data = data.main_data;
                    var table_data = '<div class="col-xl-12"> <div class="card"> <div class="card-header"> <h4 class="card-title">Report Vaccination - '+name+'</h4> <span>Export as <button class="btn btn-sm btn-primary" type="button" value="'+iso+'" onclick="return export_vaccine_data(this.value, 1);">.csv</button>&nbsp;<button class="btn btn-sm btn-primary" type="button" value="'+iso+'" onclick="return export_vaccine_data(this.value, 2);">.xls</button></span></div><div class="card-body"> <div class="all-country table-responsive"> <table id="bd_table" class="table table-striped table-bordered"> <thead> <tr> <th>Date</th> <th>Vaccine</th> <th>Total Vaccinations</th> <th>People Vaccinated</th> <th>Source</th> </tr></thead> <tbody>';                        
                    if(main_data.length > 0) {
                        for(i=0; i<main_data.length;i++){
                            table_data += '<tr role="row"> <td>'+main_data[i].date+'</td><td>'+main_data[i].vaccine+'</td><td>'+main_data[i].total_vaccinations+'</td><td>'+main_data[i].people_vaccinated+'</td><td><span class="text-primary"><a href="'+main_data[i].source_url+'" target="_blank">Source Link</a></td></tr>';
                        }
                    }
                    table_data += '</tbody> </table> </div></div></div></div>';
                    $("#table_data").html(table_data);
                    $('#bd_table').DataTable({ "order": [[ 0, "desc" ]] });
                    // DATA TABLE END
                    
                }
            });
        }
        // export data
        function export_vaccine_data(iso, type) {
            var win = window.open('/export_vaccine_data?iso='+iso+'&type='+type+'', '_blank');
            win.focus();
        }
        function number_format(n, c, d, t) {
            var c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "" : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;

            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(4) : "");
        }
        // Default
        vaccineData('BGD');

        $(document).ready(function() {
		    $('.js-example-basic-single').select2();
		});
    </script>
</body>
</html>